// Set color variables here for ease of change

$primary: #5680E9;
$secondary: #5AB9EA;
$lighter-primary: #84CEEB;
$dark-contrast: #8860D0;
$lighter-secondary: #CFD8DC;
$error: #e74c3c;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;
